.DS_Store
CHANGELOG.md
CONTRIBUTING.md
LICENSE
MAKEFILE
Package.resolved
Package.resources
Package.swift
README.md
.build/
*.xcworkspacedata
*.xcuserstate
*.xcscheme
xcschememanagement.plist
*.xcbkptlist
UserInterfaceState.xcuserstate
