.DS_Store
CHANGELOG.md
CONTRIBUTING.md
LICENSE
MAKEFILE
Package.resolved
Package.resources
Package.swift
README.md
.build/
*.xcworkspacedata
*.xcuserstate
*.xcscheme
xcschememanagement.plist
*.xcbkptlist
YourCloset.xcodeproj/project.xcworkspace/xcuserdata/harahikaru.xcuserdatad/UserInterfaceState.xcuserstate
